<div *ngIf="video" class="container-fluid">
  <div *ngIf="error" class="alert alert-danger">
    {{error}}
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="courseTitle col-8">
      <div class="title">
        <h2 *ngIf="courseDocument" class="display-4" i18n>{{courseDocument.title}}</h2>
        
      </div>
      
      </div>
      <div class="col-2 spinnerSvg" style="margin-bottom: 10px;">
        <mat-progress-spinner [value]="progress"
        class="mb-1"
        mode="determinate"
        ngbTooltip="Aktualny postęp: {{progress}}%"
        placement="top"></mat-progress-spinner>
      </div>
    </div>
  </div>
  <!-- <h1 *ngIf="courseDocument" class="header padded-left" i18n>{{courseDocument.title}}</h1>
   <h5 *ngIf="videoDocument" class="header padded-left">{{videoDocument.title}}</h5> -->

  <div class="row">
    <div *ngIf="videoDocument" class="embVideo col-7">
      <div class="row">
        <div class="col-12 bg-light" style=" border-radius: 25px; padding-top: 40px;">
          <div class="embed-responsive embed-responsive-16by9" id="video-field" mozallowfullscreen="mozallowfullscreen"
               msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen"
               webkitallowfullscreen="webkitallowfullscreen">Loading...
          </div>

          <button (click)="addCourseToUserHistory()" class="btn">Start</button>
        </div>
        
      </div>

      <div class="row justify-content-between" style="padding-top: 9px;">
        <div class="col-4 justify-content-center">
          <div class="col-12 text-center">
            <span ngbTooltip="Tagi" placement="left"><i class="fas fa-tags fa-2x"></i></span>
          </div>

          <div class="col-12 text-center">
            <ng-container>
              <app-tag-thumbnail *ngFor="let tag of videoDocument.tags"
                                 [tagDto]="getTag(tag)"></app-tag-thumbnail>
            </ng-container>
          </div>
        </div>

        <div class="col-4 justify-content-center">
          <div class="col-12 text-center">
            <span ngbTooltip="Czas trwania" placement="left"><i class="fas fa-clock fa-2x"></i></span>
          </div>

          <div class="col-12 text-center">
            <span class="font-weight-bold">{{videoDocument.duration * 1000 | date:'H:mm:ss':'UTC'}}</span>
          </div>
        </div>

        <div class="col-4 justify-content-center">
          <div class="col-12 text-center">
            <span ngbTooltip="Język" placement="left"><i class="fas fa-language fa-2x"></i></span>
          </div>

          <div class="col-12 text-center">
            <span class="font-weight-bold">
              {{videoDocument.language == null ? 'Brak informacji' : videoDocument.language}}
            </span>
          </div>
        </div>

        <br>
        <div class="row col-12 text-justify border-top video-description">
          <div class="text-justify" ngbTooltip="Opis" placement="left">
            {{videoDocument.description}}
          </div>
        </div>
      </div>
    </div>


    <div *ngIf="courseDocument" class="col">
      <h4 class="header">Playlista:</h4>

      <div class="scroll list-group" style="max-height: 41rem">
        <a *ngFor="let courseVideo of courseDocument.courseVideos"
           [ngClass]="courseVideo.mediaId === videoDocument.mediaId ? 'bg-video' : null"
           class="list-group-item list-group-item-action flex-column align-items-start"
           routerLink="/courses/{{courseDocument.id}}/videos/{{courseVideo.mediaId}}">
          <div class="d-flex w-100 justify-content-start">
            <h5 class="mb-1">{{courseVideo.title}}</h5>
          </div>
          <p class="mb-1">{{courseVideo.description | shortText}}</p>
          <div class=" d-flex justify-content-between">
            <small container="body" ngbTooltip="Czas trwania"
                   placement="bottom">{{courseVideo.duration * 1000 | date:'HH:mm:ss':'UTC'}}</small>
            <small><i *ngIf="courseVideo.premium" class="far fa-star align-self-center" container="body"
                      ngbTooltip="Premium"
                      placement="bottom"></i></small>
          </div>
        </a>

      </div>
    </div>

    <div *ngIf="quiz" class="container-fluid">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-5 quiz">
          <app-video-quiz-user [quiz]="quiz"></app-video-quiz-user>
        </div>

        <div class="col-5 quizImage" style="height: 25rem;">
          <img class="img-max" src="assets/svg/undraw_quiz_nlyh.svg">
        </div>
        <div class="col-1"></div>
      </div>
    </div>
  </div>


  <div class="row" style="height: 10rem;">

  </div>

  <div class="row justify-content-center">
    <h3 class="header">Zobacz też:</h3>
  </div>
</div>
<section class="card2">
  <app-courses-view></app-courses-view>
</section>

<!-- Top content -->
<div class="top-content">
  <div class="container-fluid">
      <div id="carousel-example" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner row w-100 mx-auto" role="listbox">
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
                  <img src="assets/img/backgrounds/1.jpg" class="img-fluid mx-auto d-block" alt="img1">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                  <img src="assets/img/backgrounds/2.jpg" class="img-fluid mx-auto d-block" alt="img2">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                  <img src="assets/img/backgrounds/3.jpg" class="img-fluid mx-auto d-block" alt="img3">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                  <img src="assets/img/backgrounds/4.jpg" class="img-fluid mx-auto d-block" alt="img4">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                  <img src="assets/img/backgrounds/5.jpg" class="img-fluid mx-auto d-block" alt="img5">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                  <img src="assets/img/backgrounds/6.jpg" class="img-fluid mx-auto d-block" alt="img6">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                  <img src="assets/img/backgrounds/7.jpg" class="img-fluid mx-auto d-block" alt="img7">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                  <img src="assets/img/backgrounds/8.jpg" class="img-fluid mx-auto d-block" alt="img8">
              </div>
          </div>
          <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
      </div>
  </div>
</div>