<div *ngIf="video">

    <div *ngIf="error" class="alert alert-danger">
        {{error}}
    </div>

    <div *ngIf="!error">
        <div class="embed-responsive embed-responsive-21by9 " id="video-field">
            <iframe class="embed-responsive-item justify-content-md-center" id="video" allowfullscreen="allowfullscreen"
                mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen"
                oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"
                [src]="video.link | safe">
            </iframe>
        </div>

        <div *ngIf="videoDocument" class="container">
            <div class="row col-12 text-justify video-title">
                <span placement="left" ngbTooltip="Tytuł" class="col-12 text-justify">{{videoDocument.title}}</span>
            </div>

            <div class="row col-12 text-justify">
                <div class="col-12 text-justify">
                    <span placement="left" ngbTooltip="Tagi"><i class="fas fa-tags fa-2x"></i></span>
                    <ng-container>
                        <span *ngFor="let tag of videoDocument.tags" class="badge badge-dark">{{tag}}</span>
                    </ng-container>
                </div>
            </div>

            <div class="row col-12 text-justify">
                <div class="col-12 text-justify">
                    <span placement="left" ngbTooltip="Czas trwania"><i class="fas fa-clock fa-2x"></i></span>
                    <span class="font-weight-bold">{{videoDocument.duration | date:'H:mm:ss':'UTC'}}</span>
                </div>
            </div>

            <div class="row col-12 text-justify">
                <div class="col-12 text-justify align-self-center">
                    <span placement="left" ngbTooltip="Język"><i class="fas fa-language fa-2x"></i></span>
                    <span
                        class="font-weight-bold">{{videoDocument.language == null ? 'Brak informacji' : videoDocument.language}}</span>
                </div>
            </div>

            <div class="row col-12 text-justify border-top video-description">
                <div placement="left" ngbTooltip="Opis" class="col-12 text-justify">
                    {{videoDocument.description}}
                </div>
            </div>
        </div>

    </div>

</div>
