#video-field {
  background-color: #444444;
  width: 100%;
  justify-content: center;
  margin-bottom: 10px;
}

#video {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

.video-title {
  margin-bottom: 10px;
}

.video-title span {
  font-size: 24px;
  font-weight: bold;
}

.video-description , .video-description div {
  margin-top: 10px;
}

.fas {
  margin-right: 6px;
}