#video-field {
  background-color: #444444;
  width: 100%;
  justify-content: center;
}

#video {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

ul li {
  display: inline;
  text-align: center;
}

.toogle-button {
  transition: 0.5s background-color 0.5s color;
}

.toogle-button:hover {
  background-color: #444444;
  color: #ffffff;
}

.video-title {
  font-size: 24px;
}

.video-description {

}