<div *ngIf="course && course.premium ? isPremiumUser() : true">
  <div class="card mb-3 bg-white box-shadow" style="max-width: 80%;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <div *ngIf="course.courseVideos.length > 0; else empty" class="card-box card-link"
             routerLink="/courses/{{course.id}}/videos/{{course.courseVideos[0].mediaId}}">
          <i class="fas fa-play fa-7x card-img-icon align-self-center "></i>

          <img *ngIf="course.picture" alt="{{course.title}}" class="card-img-top align-middle mx-auto d-block"
               src={{course.picture}}/>
          <img *ngIf="!course.picture" alt="{{course.title}}" class="card-img-top"
               src='assets/img/movie.jpg'/>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{course.title}}</h5>
          <p class="card-text">{{course.description | shortText}}</p>
          <p class="card-text"><small class="text-muted">{{course.duration * 1000 | date:'H:mm:ss':'UTC'}}</small>
            <small class="badge badge-pill badge-primary" container="body" ngbTooltip="Liczba filmów"
                   placement="bottom" style="margin-left: 80%;">{{course.courseVideos.length}}</small>
            <small *ngIf="course.premium" container="body" ngbTooltip="Premium" placement="bottom"><i
              class="far fa-star"></i></small>
          </p>
        </div>
      </div>
    </div>
  </div>

  <ng-template #empty>
    <div class="card-box">
      <img *ngIf="course.picture" alt="{{course.title}}" class="card-img-top"
           src={{course.picture}}/>
      <img *ngIf="!course.picture" alt="{{course.title}}" class="card-img-top"
           src='assets/img/movie.jpg'/>
    </div>
  </ng-template>
</div>


<div *ngIf="course && course.premium && !isPremiumUser()">
  <div class="card-not-premium bg-white mb-3 bg-white box-shadow" style="max-width: 80%;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <div *ngIf="course.courseVideos.length > 0; else empty" class="card-box card-link"
             routerLink="/courses/{{course.id}}/videos/{{course.courseVideos[0].mediaId}}">
          <i class="fas fa-play fa-7x card-img-icon align-self-center "></i>

          <img *ngIf="course.picture" alt="{{course.title}}" class="card-img-top align-middle mx-auto d-block"
               src={{course.picture}}/>
          <img *ngIf="!course.picture" alt="{{course.title}}" class="card-img-top"
               src='assets/img/movie.jpg'/>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{course.title}}</h5>
          <p class="card-text">{{course.description | shortText}}</p>
          <div>
            <app-tag-thumbnail *ngFor="let tag of course.tags" [tagDto]="getTag(tag)"></app-tag-thumbnail>
          </div>
          <p class="card-text"><small class="text-muted">{{course.duration * 1000 | date:'H:mm:ss':'UTC'}}</small>
            <small class="badge badge-pill badge-primary" container="body" ngbTooltip="Liczba filmów"
                   placement="bottom" style="margin-left: 80%;">{{course.courseVideos.length}}</small>
            <small *ngIf="course.premium" container="body" ngbTooltip="Premium" placement="bottom"><i
              class="far fa-star"></i></small>
          </p>
        </div>
      </div>
    </div>
  </div>

  <ng-template #empty>
    <div class="card-box">
      <img *ngIf="course.picture" alt="{{course.title}}" class="card-img-top"
           src={{course.picture}}/>
      <img *ngIf="!course.picture" alt="{{course.title}}" class="card-img-top"
           src='assets/img/movie.jpg'/>
    </div>
  </ng-template>
</div>
