<div id="registration">
  <div class="container">
    <div *ngIf="submitted && error" class="alert alert-danger">
      {{error}}
    </div>

    <form (ngSubmit)="signUp()" [formGroup]="form">

      <div class="form-group col-sm-4 mx-auto">
        <label i18n>Nazwa użytkownika:</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fa fa-user"></i></span>
          <input [ngClass]="{'is-invalid' : submitted && f.username.errors}" class="form-control"
                 formControlName="username" i18n-placeholder placeholder="Wpisz nazwę użytkownika" type="text">

          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required" i18n>Pole jest puste</div>
            <div *ngIf="f.username.errors.minlength" i18n>Login musi mieć minimum 3 znaki</div>
            <div *ngIf="f.username.errors.maxlength" i18n>Login może mieć maksymalnie 20 znaków</div>
            <div *ngIf="f.username.errors.pattern" i18n>Login nie może zawierać spacji</div>
          </div>
        </div>
      </div>

      <div class="form-group col-sm-4 mx-auto">
        <label i18n>Email:</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-at"></i></span>
          <input [ngClass]="{'is-invalid' : submitted && f.email.errors}" class="form-control" formControlName="email"
                 i18n-placeholder placeholder="Wpisz adres email" type="email">

          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required" i18n>Pole jest puste</div>
            <div *ngIf="f.email.errors.email" i18n>Niepoprawny adres e-mail</div>
          </div>
        </div>
      </div>

      <div class="form-group col-sm-4 mx-auto">
        <label i18n>Hasło:</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fa fa-lock"></i></span>
          <input [ngClass]="{'is-invalid' : submitted && f.password.errors}" class="form-control"
                 formControlName="password" i18n-placeholder placeholder="Wpisz hasło" type="password">

          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required" i18n>Pole jest puste</div>
            <div *ngIf="f.password.errors.minlength" i18n>Hasło musi mieć minimum 6 znaków</div>
            <div *ngIf="f.password.errors.maxlength" i18n>Hasło może mieć maksymalnie 20 znaków</div>
            <div *ngIf="f.password.errors.pattern" i18n>Hasło nie może zawierać spacji</div>
          </div>
        </div>
      </div>

      <div class="form-group col-sm-4 mx-auto">
        <label i18n>Powtórz hasło:</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fa fa-lock"></i></span>
          <input [ngClass]="{'is-invalid' : submitted && f.confirmPassword.errors}"
                 class="form-control" formControlName="confirmPassword" i18n-placeholder placeholder="Powtórz hasło"
                 type="password">

          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required" i18n>Pole jest puste</div>
            <div *ngIf="f.confirmPassword.errors.mustMatch" i18n>Hasła różnią się</div>
          </div>
        </div>
      </div>

      <div class="form-group col-sm-4 mx-auto">
        <button [class.spinner]="loading" [disabled]="loading" color="primary" mat-raised-button>
          Zarejestruj się
        </button>
      </div>
    </form>

  </div>
</div>

