.container {
    font-family: "Montserrat", Sans-serif;
}
/*
.block1 {
    border-style: solid;
    margin-bottom: 4px;
    margin-top: 4px;
    border-radius: 1%;
}
*/
.col-centered{
    float: none;
    margin: 0 auto;
}
.sizer {
    width: 300px;
}
.blockvideo {
   border: 2px solid #0d90fc;
   border-radius: 20px;
   background-color: #0d90fc; 
}
.blocktext {
    border: 2px solid #444444;
    border-radius: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
}
.sth{
    font-family: "Montserrat", Sans-serif;
    font-size: 68px;
    font-weight: 700;
    letter-spacing: -2.3px;
    color: #0d90fc
    }
