<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet"> 
<div class="container">
<div class="sth" >
   Programowanie 
  
    dla każdego!
</div>
  <div class="row align-items-start blocktext blc2">
    <div class="col h-40 p-3" >
          Witaj, nazwa użytkownika! Zobacz, co nowego ostatnio dodaliśmy:
    </div>
  </div>
  
  <div class="row align-items-center block1 blockvideo">
    
        <div class="col-sm h-40 p-3">
        <div class="sizer">        
      <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Hslac_tmcNE?rel=0"></iframe>
      </div>
      </div>
    </div>
    <div class="col sm h-40 p-3" >
        <span id="opis">
            Przykładowy opis filmu instruktażowego mający na celu przekazanie użytkownikowi podstawowych informacji dotyczących zamieszczonego materiału
          </span>
        </div>
    <div class="col-sm">
        <div class="icon">
            <div class="arrow"></div>
          </div>
      </div>
</div>
  <div class="row align-items-end blocktext">    
    <div class="col h-40 p-3">
      Poprzednio oglądałeś:
    </div>    
  </div>

  <div class="row align-items-start block1">
    <div class="col h-40 p-3" >     
    </div>
  </div>
  <!--
  <div class="row align-items-center block1 blockvideo">
    
      <div class="col-sm h-100 p-3">
      <div class="sizer">        
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rVkBErraqmY"></iframe>
    </div>
    </div>
  </div>
  <div class="col sm h-100 p-3" >
      <span id="opis">
        Tu może jakaś rameczka, inna czcioneczka, żeby to się niejako prezentowało niejako
        </span>
      </div>
  <div class="col-sm h-100">
      <div class="icon">
          <div class="arrow"></div>
        </div> 
    </div> 
</div> -->



<div class="browse py-5">
<div class="container">

  <div class="row">
    <div class="col-md-4 ">
      <div class="card mb-4 box-shadow">
        <h6 class="card-title">TYTUŁ KURSU</h6>
        <img class="card-img-top" src="assets/img/tlo.png" alt="Tu miał być film">
        <div class="card-body">
          <p class="card-text">Nauka tworzenia pętli i łapania rybką żabek. Program dla dzieci do lat 3.</p>
          <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted">40 minut</small>
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" routerLink='/browse_video'>Oglądaj</button>  
            </div>     
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
        <div class="card mb-4 box-shadow">
          <h6 class="card-title">TYTUŁ KURSU</h6>
          <img class="card-img-top" src="assets/img/tlo.png" alt="Tu miał być film">
          <div class="card-body">
            <p class="card-text">Nauka tworzenia pętli i łapania rybką żabek. Program dla dzieci do lat 3.</p>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">40 minut</small>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Oglądaj</button>  
              </div>     
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 ">
          <div class="card mb-4 box-shadow">
            <h6 class="card-title">TYTUŁ KURSU</h6>
            <img class="card-img-top" src="assets/img/tlo.png" alt="Tu miał być film">
            <div class="card-body">
              <p class="card-text">Nauka tworzenia pętli i łapania rybką żabek. Program dla dzieci do lat 3.</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">40 minut</small>
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Oglądaj</button>  
                </div>     
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 ">
            <div class="card mb-4 box-shadow">
              <h6 class="card-title">TYTUŁ KURSU</h6>
              <img class="card-img-top" src="assets/img/tlo.png" alt="Tu miał być film">
              <div class="card-body">
                <p class="card-text">Nauka tworzenia pętli i łapania rybką żabek. Program dla dzieci do lat 3.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted">40 minut</small>
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Oglądaj</button>  
                  </div>     
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
              <div class="card mb-4 box-shadow">
                <h6 class="card-title">TYTUŁ KURSU</h6>
                <img class="card-img-top" src="assets/img/tlo.png" alt="Tu miał być film">
                <div class="card-body">
                  <p class="card-text">Nauka tworzenia pętli i łapania rybką żabek. Program dla dzieci do lat 3.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted">40 minut</small>
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Oglądaj</button>  
                    </div>     
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 ">
                <div class="card mb-4 box-shadow">
                    <h6 class="card-title">TYTUŁ KURSU</h6>
                    <img class="card-img-top" src="assets/img/tlo.png" alt="Tu miał być film">
                  <div class="card-body">
                    <p class="card-text">Nauka tworzenia pętli i łapania rybką żabek. Program dla dzieci do lat 3.</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <small class="text-muted">40 minut</small>
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Oglądaj</button>  
                      </div>     
                    </div>
                  </div>
                </div>
              </div>

    
  </div>
</div>
</div>
<!--
  <div class="row align-items-center block1 blockvideo">
      <div class="col h-40 p-3" >
          <div class="sizer">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rVkBErraqmY"></iframe>
        </div>
      </div>
    </div>

  </div>
-->
</div>
