.block1 {
    border-style: solid;
    margin-bottom: 4px;
    margin-top: 4px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.sth{
    font-size: 68px;
font-weight: 800;
letter-spacing: -0.1px;
   /* font-family: "Montserrat", Sans-serif;
    font-size: 68px;
    font-weight: 700;
    letter-spacing: -2.3px; */
    color: #0d90fc
    }
