<div class="sth" >
   Programowanie 
  
    dla każdego!
</div>
  <div class="row align-items-start block1">
    <div class="col h-40 p-3" >
          Postulaty sprawdzania, kto z osób publicznych mógł być agentem UB i SB, wysuwały od przełomu 1989 r. różne, głównie prawicowe partie i środowiska. Środowiska liberalne były temu przeciwne - przestrzegano przed "polowaniem na czarownice"; powoływano się też na zniszczenia archiwów służb z lat 1989-1990. Z kolei SLD sugerowało, że najwięcej agentów znajdzie się wśród opozycjonistów z lat PRL.
    </div>
  </div>

  <div class="row align-items-center block1">
    <div class="col h-40 p-3" >
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
    </div>
  </div>

  <div class="row align-items-end block1">    
    <div class="col h-40 p-3">
      8 of three columns
    </div>    
  </div>

  <div class="row align-items-start block1">
    <div class="col h-40 p-3" >     
    </div>
  </div>

  <div class="row align-items-start block1">
    <div class="col h-40 p-3" >
      To są technologie, które zmieniają układ sił. Tak samo było, gdy gaz i ropa naftowa zaczęły wypierać węgiel z gospodarki europejskiej. I tak dalej, i tak dalej. Teraz wchodzimy w dokładnie taki sam proces. 
      Dlatego dobrze by było, gdybyśmy nie składali tylko rzeczy dla gospodarki niemieckiej, ale sami zajęli wyższe miejsce w układzie podziału pracy. Miejsce właściciela technologii, właściciela brandu. Twórcy tej nowej architektury. Miejsce taniej siły roboczej ani nie daje na dłuższą metę prosperity, ani nie gwarantuje rozwoju, ani nie zapewnia poczucia szczęścia. 
      Ludzie po prostu z kraju wyjeżdżają.
    </div>     
  </div>

