<div class="card mb-4 bg-white box-shadow">

    <div class="card-header text-center">
        {{video.title}}
    </div>

    <div class="card-box">
        <img class="card-img-top" src={{video.image}} alt="Tu miał być film" />
    </div>

    <div class="card-body">
        <p class="card-text">{{video.description}}</p>

        <div class="d-flex justify-content-between align-items-center">
            <small>{{video.duration}} minut</small>
            <button type="button" class="btn btn-sm btn-outline-dark" routerLink='/browse_video'>Oglądaj</button>
        </div>
    </div>

</div>