<div class="container">

  <form [formGroup]="newCourseForm" (ngSubmit)="createNewCourse()">
    <div class="form-group row">
      <label for="title" class="col-sm-2 col-form-label">Tytuł</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="title" formControlName="title" placeholder="Wpisz tytuł">
      </div>

      <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
        <div *ngIf="f.title.errors.required">Pole jest puste</div>
      </div>
    </div>

    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label">Opis</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="description" formControlName="description" placeholder="Wpisz opis">
      </div>

      <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
        <div *ngIf="f.description.errors.required">Pole jest puste</div>
      </div>
    </div>

    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Język</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="pl" value="option1" checked>
            <label class="form-check-label" for="pl">
              Polski
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="en" value="option2">
            <label class="form-check-label" for="en">
              Angielski
            </label>
          </div>
        </div>
      </div>
    </fieldset>

    <div class="form-group row">
      <div class="col-sm-2">Premium</div>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="premium">
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="tags" class="col-sm-2 col-form-label">Kategorie</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="tags" placeholder="Podaj kategorie">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <button [disabled]="loading" class="btn btn-success">
          <div *ngIf="!loading">Dodaj kurs</div>
          <div *ngIf="loading"><span class="spinner-border spinner-border-sm"></span>
              Ładowanie..</div>
      </button>
      </div>
    </div>
  </form>

</div>