<div *ngIf="video">
  <div [ngClass]="video.status === 'processing' ? 'bg-warning' : 'bg-white'" class="card mb-4 box-shadow">

    <div class="card-header text-center">
      {{video.title}}
    </div>

    <div class="card-box card-link" routerLink="/videos/{{video.mediaId}}">
      <i class="fas fa-play fa-7x card-img-icon align-self-center "></i>
      <img alt="{{video.title}}" class="card-img-top align-middle mx-auto d-block" src={{video.picture}}/>
    </div>

    <div class="card-body">
      <p class="card-text">{{video.description | shortText}}</p>

      <div class="d-flex justify-content-between align-items-center">
        <small>{{video.duration * 1000 | date:'H:mm:ss':'UTC'}}</small>
      </div>
    </div>

  </div>
</div>
