<div *ngIf="video" class="card mb-4 bg-white box-shadow">

    <div class="card-header text-center">
        {{video.title}}
    </div>

    <div class="card-box">
        <img class="card-img-top align-middle mx-auto d-block" src={{video.image}} alt="Tu miał być film" />
    </div>

    <div class="card-body">
        <p class="card-text">{{video.description}}</p>

        <div class="d-flex justify-content-between align-items-center">
            <small>{{video.duration | minuteSeconds}}</small>
            <button type="button" class="btn btn-sm btn-outline-dark" routerLink='/show_video/{{video.mediaId}}'>Oglądaj</button>
        </div>
    </div>

</div>