<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet"> 
<!--<footer class="page-footer text-dark"> -->
  <footer class="page-footer2">
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 footers-one">
                <img src='assets/img/sygnet-1.png' alt="Logo" style="width:120px;">
          <div class="row btns">
          <div class="col-4">   
                <button type="button" class="btn btn-fb text-white"><i class="fab fa-facebook-f "></i></button>
          </div>
          <div class="col-4">   
              <button type="button" class="btn btn-fb text-white"><i class="fab fa-linkedin-in "></i></button>
        </div>  
          <div class="col-4">    
                <button type="button" class="btn btn-yt text-white"><i class="fab fa-youtube"></i></button>
              </div>
              </div> 
              </div>
        <div class="col-3">
            <p class="text-justify-center font-weight-bold">KONTAKT</p>
            <p class="text-justify-center">+48 691 343 296</p>
            <p class="text-justify-center">kontakt@pixblocks.com</p>
            <p class="text-justify-center"> ul. Drobnika 19 60-693 Poznań</p>
        </div>  
      <div class="col-3">
          <p class="font-weight-bold">PARTNERZY</p>
          <img src='assets/img/unia06.png' class="img-fluid" alt='mial byc rysunek'>
          <img src='assets/img/unia07.png' class="img-fluid" alt='mial byc rysunek'>
          <img src='assets/img/unia08.png' class="img-fluid" alt='mial byc rysunek'>
      </div>
      
      <div class="col-3">
        <img src='assets/svg/undraw_programming_2svr(1).svg' class="img-fluid" alt='mial byc rysunek'> 
      </div>
</div>
</div>
</footer>
