<div class="text-white bg-primary row">
  <div class="col-3">
  </div>

  <div class="col-3">
    <p class="text-justify font-weight-bold">Kontakt</p>
    <p class="text-justify">+48 997 998 999</p>
    <p class="text-justify">admin@com.pl</p>
    <p class="text-justify">66-666 Szczebrzeszyn</p>
  </div>

  <div class="col-3">
    <p class="font-weight-bold">O PRODUKCIE</p>
    <p class="font-weight-bold">POBIERZ</p>
    <p class="font-weight-bold">POLITYKA PRYWATNOŚCI</p>
  </div>

  <div class="col-3">
  </div>
</div>