<footer class="page-footers">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 footers-one">
        <a href="http://www.pixblocks.com"><img src='assets/img/sygnet-1.png' alt="Logo" style="width:120px;"></a>
        <div class="row btns">
          <div class="col-1"></div>
          <div class="col-3">
            <a href="http://www.facebook.com/PixBlocks"><button type="button" class="btn btn-fb text-white"><i
                  class="fab fa-facebook-f "></i></button></a>
          </div>
          <div class="col-3">
            <a href="https://www.linkedin.com/company/pixblocks"><button type="button" class="btn btn-li text-white"><i
                  class="fab fa-linkedin-in "></i></button></a>
          </div>
          <div class="col-3">
            <a href="https://www.youtube.com/channel/UCre6CJQh5kwl2R7uoCQRtHg"><button type="button"
                class="btn btn-yt text-white"><i class="fab fa-youtube"></i></button></a>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 footers-two">
        <p class="text-justify-center font-weight-bold">KONTAKT</p>
        <p class="text-justify-center">+48 691 343 296</p>
        <p class="text-justify-center">kontakt@pixblocks.com</p>
        <p class="text-justify-center"> ul. Drobnika 19 60-693 Poznań</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 footers-three">
        <p class="font-weight-bold">PARTNERZY</p>
        <img src='assets/img/unia06.png' class="img-fluid" alt='Fundusze Europejskie'>
        <img src='assets/img/unia07.png' class="img-fluid" alt='Rzeczpospolita Polska'>
        <img src='assets/img/unia08.png' class="img-fluid" alt='NCBiR'>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 footers-four">
        <img src='assets/svg/undraw_programming_2svr.svg' class="img-fluid" alt='unDraw'>
      </div>
    </div>
  </div>
</footer>