* {
  /*font-family: 'Oswald', sans-serif; */
  font-weight: 100;
  color: #565656;
}

.navbar {
  border-bottom: 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  border-color: #0d90fc;
  /*padding-left: 10%;
  padding-right: 10%;*/
  height: 70px;
  margin-bottom: 35px;
}

.fa-search {
  font-size: 18px;
}

.flex-fill {
  flex: 1;
}

.languages a {
  width: 100%;
}
.logoButton {
  padding-left: 10%;
}
.allButtons {}
#navbars-options {
 /* padding-left: 70%;*/
}
