<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg sticky-top bg-light">
  <a class="navbar-brand" routerLink="/">PixBlocks</a>

  <app-search-bar class="align-self-center"></app-search-bar>

  <button class="navbar-toggler hidden-md-up" type="button" (click)="isNavCollapsed = !isNavCollapsed"
          data-target="#navbars-options" aria-controls="navbars-options" aria-expanded="false"
          aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>

  <div [ngbCollapse]="isNavCollapsed" class="collapse navbar-collapse" id="navbars-options">
    <div class="main-navbar">
      <ul *appHasRole="['user']" class="navbar-nav">
        <button (click)="afterClick()" color="primary" i18n mat-stroked-button
                routerLink="/profile">Mój profil
        </button>
        <button (click)="afterClick()" color="primary" i18n mat-stroked-button
                routerLink="/settings">Ustawienia
        </button>
        <button (click)="afterClick(); logout()" color="primary" i18n
                mat-stroked-button>Wyloguj
        </button>
        <app-select-languages [languages]="languages"></app-select-languages>
      </ul>


      <ul *appHasRole="['admin']" class="navbar-nav">
        <button (click)="afterClick()" color="primary" i18n mat-stroked-button
                routerLink="/videos">Dodaj wideo
        </button>
        <button (click)="afterClick()" color="primary" i18n mat-stroked-button
                routerLink="/courses">Zarządzaj kursami
        </button>
        <button (click)="afterClick()" color="primary" i18n mat-stroked-button
                routerLink="/profile">Mój profil
        </button>
        <button (click)="afterClick()" color="primary" i18n mat-stroked-button
                routerLink="/settings">Ustawienia
        </button>
        <button (click)="afterClick(); logout()" color="primary" i18n
                mat-stroked-button>Wyloguj
        </button>
        <app-select-languages [languages]="languages"></app-select-languages>
      </ul>

      <ul *appHasRole="['anonymous']" class="navbar-nav">
        <button (click)="afterClick()" *appHasRole="['anonymous']" color="primary" i18n mat-stroked-button
                routerLink="/register">
          Zarejestruj
        </button>
        <button (click)="afterClick()" *appHasRole="['anonymous']" color="primary" i18n mat-stroked-button
                routerLink="/login">
          Zaloguj
        </button>
        <app-select-languages [languages]="languages"></app-select-languages>
      </ul>
    </div>
  </div>


</nav>
