/*.language {
  border: 0;
  vertical-align: baseline;
  text-align: center;
}

.language button {
  width: 100%;
  height: 100%;
  margin-right: 2px;
  margin-bottom: 2px;
  border: 0;
}

.languages a {
  background-color: #fff;
  width: 100%;
  transition: 0.3s;
}

.languages a:hover {
  background-color: #0d90fc;
  color: white;
}
*/
.btn-outline-primary {
 
  margin-right: 2px;
  margin-bottom: 0;
  border: 0;
  text-align: center;
  transition: 0.3s;
  
}

.selected-language {
  background-color: #0d90fc;
  
}
.language{
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-style: solid;
  border-color: grey;
}
.justify-content-left 
{
  width: 20px;
}
.languageButton {
  background: rgb(246,246,246);
  background: linear-gradient(0deg, rgba(246,246,246,1) 0%, rgba(240,245,245,1) 100%);
}