<div *ngIf="languages" class="language" ngbDropdown ngbTooltip="Język" placement="bottom">
  <button i18n class="btn btn-outline-primary" ngbDropdownToggle><i class="fa fa-language"
      aria-hidden="true"></i></button>
  <div ngbDropdownMenu>
    <div *ngFor="let language of languages" class="d-flex justify-content-center align-self-center languages">
      <a (click)="selectLanguage(language.code)">
        <button class="btn btn-outline-primary" NgbDropdownItem>{{language.label}}</button>
      </a>
    </div>
  </div>
</div>

