<div *ngIf="languages" class="language" ngbDropdown placement="bottom">
  <button class="languageButton" i18n ngbDropdownToggle style="margin-right: 3px; height: 72px;"><i
    class="fa fa-language"
    aria-hidden="true"></i></button>
  <div ngbDropdownMenu>
    <div *ngFor="let language of languages" class="d-flex justify-content-center align-self-center languages">
      <a (click)="selectLanguage(language.code)">
        <button NgbDropdownItem [ngClass]="selectedLanguage === language.code ? 'selected-language' : null"
                class="btn btn-outline-primary">{{language.label}}</button>
      </a>
    </div>
  </div>
</div>
