<div class="row mt-3 container col-centered">
  <div class="col-lg-4 col-md-6 col-12 col-centered">
    <form [formGroup]="loginForm" (ngSubmit)="signIn()">

      <div class="form-group col-sm-12">
        <label i18n="@@username" for="username">Nazwa użytkownika:</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fa fa-user"></i></span>
          <input [ngClass]="{'is-invalid' : submitted && f.username.errors}" formControlName="username" type="text"
            class="form-control" i18n-placeholder placeholder="Wpisz nazwę użytkownika">

          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div i18n="@@errors_empty_field" *ngIf="f.username.errors.required">Pole jest puste</div>
          </div>
        </div>
      </div>

      <div class="form-group col-sm-12">
        <label i18n="@@password">Password:</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fa fa-lock"></i></span>
          <input [ngClass]="{'is-invalid' : submitted && f.password.errors}" formControlName="password" type="password"
            class="form-control" i18n-placeholder placeholder="Wpisz hasło">

          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div i18n *ngIf="f.password.errors.required">Pole jest puste</div>
          </div>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div i18n *ngIf="f.password.errors.minlength">Hasło musi mieć conajmniej 5 znaków</div>
          </div>
        </div>
      </div>

      <div class="form-group col-sm-12">
        <button i18n="@@buttons_login" [disabled]="loading" class="btn btn-primary">Zaloguj się</button>
      </div>
    </form>
  </div>
</div>