<div class="row mt-3 container col-centered">
  <div class="col-lg-4 col-md-6 col-12 col-centered">
    <form [formGroup]="loginForm" (ngSubmit)="signIn()">

      <div class="form-group col-sm-12">
        <label for="username" >Nazwa użytkownika:</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fa fa-user"></i></span>
          <input [ngClass]="{'is-invalid' : submitted && f.username.errors}" formControlName="username" type="text" class="form-control" placeholder="Login">
        
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">{{this.labels.errors.emptyField}}</div>
          </div>
        </div>
      </div>

      <div class="form-group col-sm-12">
        <label>Hasło:</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fa fa-lock"></i></span>
          <input [ngClass]="{'is-invalid' : submitted && f.password.errors}" formControlName="password" type="password" class="form-control" placeholder="Hasło">
       
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">{{this.labels.errors.emptyField}}</div>
          </div>
       </div>
      </div>

      <div class="form-group col-sm-12">
          <button [disabled]="loading" class="btn btn-primary">{{this.labels.buttons.login}}</button>
      </div>
    </form>
  </div>
</div>