/*.block1 {
    padding-left: 10%;
    padding-right: 10%;
}

.block3 {
    border-style: solid;
    height: 50px;
    margin-left: 10rem;
    margin-right: 10rem;
} */
/*
.embed-responsive-item{
    height: 30rem;
    width: 40rem;
    margin-left: 5rem;
}*/
.container {
    font-family: "Montserrat", Sans-serif; 
}
.sizer {
    width: 500px;
}
.btn-outline-primary {
    background-color: #fff;
    margin: 0;
    padding: 10px;
    border: 0;
  line-height: 1.66em;
  vertical-align: baseline;
 /*   border: none;
  
  padding: 16px 25px; 
 margin: 4px 2px; */
  text-align: left;
  font-size: 16px;
  
  transition: 0.3s;
  border-style: solid;
}
.btn:hover {
  background-color: #0d90fc;
  color: white;
}
.widi {
    display: flex;
    justify-content: center;
}
#butti {
    width: 10rem;
    padding-left: 5%;
    background-color: grey;
    border: 2px solid #444444;
    border-radius: 20px;
    margin-top: 2%;
}