.block1 {
    padding-left: 10%;
    padding-right: 10%;
}
/*
.block3 {
    border-style: solid;
    height: 50px;
    margin-left: 10rem;
    margin-right: 10rem;
} */
/*
.embed-responsive-item{
    height: 30rem;
    width: 40rem;
    margin-left: 5rem;
}*/
.sizer {
    width: 600px;
    margin-left: 5%;
}
.btn-outline-primary {
    background-color: #fff;
    margin: 0;
    padding: 10px;
    border: 0;
  line-height: 1.66em;
  vertical-align: baseline;
 /*   border: none;
  
  padding: 16px 25px; 
 margin: 4px 2px; */
  text-align: center;
  font-size: 16px;
  
  transition: 0.3s;
  border-style: solid;
}
.btn:hover {
  background-color: #0d90fc;
  color: white;
}