<div *ngIf="course" class="card mb-4 bg-white box-shadow ">

  <div class="card-header text-center">
    {{course.title}}
  </div>

  <div *ngIf="course.courseVideos.length > 0" class="card-box card-link"
       routerLink="/courses/{{course.id}}/videos/{{course.courseVideos[0].mediaId}}">
    <img *ngIf="course.picture" alt="{{course.title}}" class="card-img-top align-middle mx-auto d-block"
         src={{course.picture}}/>
    <img *ngIf="!course.picture" alt="{{course.title}}" class="card-img-top align-middle mx-auto d-block"
         src='assets/img/movie.jpg'/>
  </div>

  <div *ngIf="course.courseVideos.length === 0" class="card-box card-empty">
    <img *ngIf="course.picture" alt="{{course.title}}" class="card-img-top align-middle mx-auto d-block"
         src={{course.picture}}/>
    <img *ngIf="!course.picture" alt="{{course.title}}" class="card-img-top align-middle mx-auto d-block"
         src='assets/img/movie.jpg'/>
  </div>

  <div class="card-body">
    <p class="card-text">{{course.description | shortText}}</p>

    <div class="d-flex justify-content-between align-items-center">
      <small ngbTooltip="Czas trwania" placement="bottom">{{course.duration * 1000 | date:'H:mm:ss':'UTC'}}</small>
      <small class="badge badge-pill badge-primary" ngbTooltip="Liczba filmów"
             placement="bottom">{{course.courseVideos.length}}</small>
    </div>
  </div>

</div>

