<div *ngIf="video">
    <div class="container">

        <div *ngIf="error" class="alert alert-danger">
            {{error}}
        </div>
        <div *ngIf="!error">

            <div class="row">

                <iframe id="video" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen"
                    msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen"
                    webkitallowfullscreen="webkitallowfullscreen" [src]="video.link | safe">
                </iframe>

            </div>
            <div class="row text-justify border-top">
                <h2 class="header2">Informacje o tym wideo <br><h4 class="header4">{{video.title}}</h4></h2> 
                
            </div>
            <div class="row text-justify border-top">
                <div class="col-3 text-justify">
                    Tagi: {{video.tags}}
                </div>
                </div>
            <div class="row text-justify border-top">
            <div class="col-3 text-justify">            
               Szczegóły    
            </div>
            <div class="col-3 text-justify">
                Czas trwania: {{video.duration | minuteSeconds}}
                <br>
                Język: polski
                <br>
                Napisy: nie
            </div>
            <div class="col-3 text-justify">
                
            </div>
            </div> 

            <div class="row text-justify border-top">
                <div class="col-3 text-justify">
                Opis
                </div>

                <div class="col-6 text-justify">
                {{video.description}} Jakiś losowy tekst
                </div>
            </div>
        
        </div>

    </div>
</div>