<div *ngIf="video">
    <div class="container">

        <div *ngIf="error" class="alert alert-danger">
            {{error}}
        </div>
        <div *ngIf="!error">

            <div class="row">

                <iframe class="img-thumbnail" id="video" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen"
                    msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen"
                    webkitallowfullscreen="webkitallowfullscreen" [src]="video.link | safe">
                </iframe>

            </div>
                    
    
        <ul class="row">
                <li class="col-3 one"><a type="button" (click)="isCollapsed1 = !isCollapsed1" [attr.aria-expanded]="!isCollapsed1" aria-controls="myCollapse1">Kurs</a></li>
                <li class="col-6 two"><a type="button" (click)="isCollapsed2 = !isCollapsed2" [attr.aria-expanded]="!isCollapsed2" aria-controls="myCollapse2">Przegląd</a> </li>
                <li class="col-3 three"><a type="button" (click)="isCollapsed3 = !isCollapsed3" [attr.aria-expanded]="!isCollapsed3" aria-controls="myCollapse3">Opinie</a> </li>
                <!-- <li class="col-4 one" ><a data-toggle="collapse" data-target="#myCollapse1" type="button" aria-expanded="false" aria-controls="myCollapse1">Treść kursu</a></li>
            <li class="col-6 two"><a data-toggle="collapse" data-target="#myCollapse2" type="button" aria-expanded="false" aria-controls="myCollapse2">Przegląd</a></li>
            <li class="col-2 three"><a type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="myCollapse3">Pytania i odpowiedzi</a></li> --> 
        <hr />
        </ul>
    
        <div class="row">
            <div class="col-3">
            <div  id="myCollapse1" [ngbCollapse]="isCollapsed1">
            Tu będzie spis treści
            </div>
            </div>
            <div class="col-6">
            <div id="myCollapse2" [ngbCollapse]="isCollapsed2">
            <app-overview></app-overview>   
            </div>
            </div>
            <div class="col-3">
            <div id="myCollapse3" [ngbCollapse]="isCollapsed3">
            <app-questions></app-questions>
            </div>
            </div> 
        </div>
    </div>
    
    </div>
    
</div>
