<div class="container">
  <div class="row">
    <div class="col-6">

      <div *ngIf="sent && error" class="alert alert-danger">
        {{error}}
      </div>
      <div i18n *ngIf="sent && !error" class="alert alert-success">
        Film dodano pomyślnie
      </div>

      <form [formGroup]="form" (ngSubmit)="create()">

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" i18n>Tytuł</label>
          <div class="col-sm-10 input-group">
            <input [ngClass]="{'is-invalid' : submitted && f.title.errors}" class="form-control" type="text"
                   formControlName="title" i18n-placeholder placeholder="Wpisz tytuł">

            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
              <div i18n *ngIf="f.title.errors.required">Pole jest puste</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" i18n>Opis</label>
          <div class="col-sm-10 input-group">
            <textarea [ngClass]="{'is-invalid' : submitted && f.description.errors}" class="form-control"
                      formControlName="description" i18n-placeholder
                      placeholder="Wpisz opis"></textarea>

            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
              <div i18n *ngIf="f.description.errors.required">Pole jest puste</div>
              <div i18n *ngIf="f.description.errors.minlength">Opis musi mieć minimum 3 znaki</div>
              <div i18n *ngIf="f.description.errors.maxlength">Opis może mieć maksymalnie 10000 znaków</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" i18n>Język</label>
          <div class="col-sm-8 input-group">
            <mat-radio-group class="languages" color="primary" formControlName="language">
              <mat-radio-button *ngFor="let language of languages" class="languagesButton" value="{{language.code}}">
                {{language.label}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2" i18n>Premium</label>
          <div class="col-sm-8 justify-content-start mx-1">
            <mat-checkbox color="primary" formControlName="premium"></mat-checkbox>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" i18n>Tagi</label>
          <div class="col-sm-10">
            <ng-multiselect-dropdown [data]="tagsList"
                                     [placeholder]="'Wybierz tagi'"
                                     formControlName="tags"
                                     [settings]="tagsSettings">
            </ng-multiselect-dropdown>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" i18n>Obrazek</label>
          <div class="col-sm-10">
            <input class="form-control" formControlName="pictureUrl" i18n-placeholder type="text"
                   placeholder="Podaj adres obrazka">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" i18n>Zdjęcie</label>
          <div class="col-sm-10">
            <button (click)="imitateImageInput()"
                    [color]="f.image.value ? 'accent' : 'primary'"
                    mat-raised-button
                    type="button">{{f.image.value ? 'Gotowe do wysłania' : 'Wybierz zdjęcie'}}</button>
            <input (change)="handleImageInput($event.target.files)" [ngClass]="{'is-valid' : f.image.value}"
                   accept="image/*"
                   class="form-control"
                   hidden id="image"
                   type="file">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" i18n>Film</label>
          <div class="col-sm-10 input-group">
            <button (click)="imitateFileInput()"
                    [color]="f.video.value ? 'accent' : 'primary'"
                    mat-raised-button
                    type="button">{{f.video.value ? 'Gotowy do wysłania' : 'Wybierz film'}}</button>
            <input (change)="handleFileInput($event.target.files)"
                   class="form-control"
                   hidden id="video"
                   accept="video/*"
                   type="file">

            <div *ngIf="submitted && f.video.errors" class="invalid-feedback">
              <div *ngIf="f.video.errors.required" i18n>Brak filmu</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" i18n>Podgląd</label>
          <div class="col-sm-10">
            <app-video-preview [video]="f.video.value"></app-video-preview>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" i18n>Kurs</label>
          <div class="col-sm-10">
            <app-course-choose-admin (courseSelected)="selectCourse($event)"
                                     [buttonName]="'Wybierz kurs'">
            </app-course-choose-admin>

            <div *ngIf="submitted && f.parentId.errors" class="invalid-feedback">
              <div *ngIf="f.parentId.errors.required" i18n>Brak kursu</div>
            </div>
          </div>
        </div>

        <div class="form-group row justify-content-end">
          <div>
            <button mat-raised-button color="primary" [class.spinner]="loading" [disabled]="loading">
              Dodaj film
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-6">
      <img class="img-fluid" src="assets/svg/undraw_media_player_ylg8.svg">
    </div>
  </div>
</div>
