<div class="row title">
  <h2 i18n class="display-4">Dodaj quiz</h2>
</div>
<div class="row">
  <div class="col-6">
    <div *ngIf="sent && error" class="alert alert-danger">
      {{error}}
    </div>
    <div *ngIf="sent && !error" class="alert alert-success" i18n>
      Quiz dodano pomyślnie
    </div>

    <form (submit)="handleSubmit($event)" [formGroup]="form">
      <div formArrayName="questions">
        <div *ngFor="let question of quizQuestionsControls; let questionIndex = index">
          <app-quiz-question
            (questionDeleted)="onDeleteQuestion($event)"
            [quizQuestionForm]="question"
            [quizQuestionIndex]="questionIndex"></app-quiz-question>
          <hr/>
        </div>
      </div>
      <button (click)="newQuizQuestion()"
              [class.spinner]="loading"
              color="primary"
              mat-raised-button
              i18n
              type="button">
        Dodaj pytanie
      </button>
      <hr/>

      <app-video-choose-admin (videoSelected)="selectVideo($event)"
                              [buttonName]="'Wybierz film'">
      </app-video-choose-admin>
      <hr/>

      <button [disabled]="form.invalid"
              class="saveVideo"
              color="primary"
              mat-raised-button
              i18n
              type="submit">Zapisz
      </button>
    </form>


  </div>
  <div class="col-6">
    <img class="img-fluid" src="assets/svg/undraw_online_test_gba7.svg">
  </div>
</div>







