<div class="container">
  <div class="row">
    <h2 class="display-4">Edytor kursów</h2>
  </div>


  <div class="container jumbotron" *ngIf="course">
    <div class="row">
      <h3>{{course.title}}</h3>
    </div>

    <img class="img-thumbnail rounded mx-auto d-block" src={{course.picture}} alt="Tu powinno być zdjęcie"/>

    <p>Opis: {{course.description}}</p>


    <div>Kategorie:
      <div *ngFor="let tag of course.tags">
        <span class="badge badge-primary">{{tag}}</span>
      </div>
    </div>

  </div>
</div>