<div [formGroup]="quizQuestionForm">
  <input type="text" placeholder="Pytanie" formControlName="question" />
  <span *ngIf="question.invalid && (question.dirty || question.touched)">
    Pytanie nie może byc puste
  </span>
  <div formArrayName="answers">
    <ng-container *ngFor="let answer of answersControls; let index">
      <app-quiz-answer
        [quizAnswerIndex]="index"
        [quizAnswerForm]="answer"
        (onRemoveAnswer)="removeAnswer($event)"
      ></app-quiz-answer>
    </ng-container>
    <div *ngIf="answers.errors && answers.errors.minLength && answers.dirty">
      Pytanie powinno zawierać conajmniej dwie odpowiedzi
    </div>
    <div *ngIf="answers.errors && answers.errors.noCorrectAnswer">
      Pytanie powinno zawierać conajmniej jedna poprawna odpowiedz
    </div>
  </div>
  <button  mat-raised-button color="primary" [class.spinner]="loading" (click)="addQuestion()" type="button" [disabled]="!question.valid">
    Dodaj odpowiedź
  </button>
  <button  mat-raised-button color="primary" [class.spinner]="loading" (click)="handleDeleteQuestion()">
    Usuń pytanie
  </button>
  
</div>
