<div class="container">
  <div class="row">
    <h2 i18n class="display-4">Edytor kursów</h2>
  </div>


  <ul class="nav nav-tabs">
    <li class="nav-item">
      <button class="nav-link btn btn-white" [ngClass]="isNewCourseSelected ? 'active' : ''" (click)="changeToNewCourse()">Nowy
        kurs</button>
    </li>
    <li class="nav-item">
      <button class="nav-link btn btn-white" [ngClass]="!isNewCourseSelected ? 'active' : ''"
        (click)="changeToEditCourse()">Edycja</button>
    </li>
  </ul>

  <app-new-course *ngIf="isNewCourseSelected">
  </app-new-course>

  <app-edit-course *ngIf="!isNewCourseSelected">
  </app-edit-course>

</div>