<div *appHasRole="['anonymous']" class="container">
  <div i18n id="title">
    <span style="color:#0d90fc">Programowanie</span> <br>
    <span style="color:#000000">dla każdego!</span>
  </div>

  <div>

    <div class="row homepage-part">
      <div i18n class="col-6 description">
        <span class="font-weight-bold" style="color:#000000">Pix</span><span class="font-weight-bold"
                                                                             style="color:#0d90fc">Blocks</span> to
        aplikacja, która sprawi, że nauczysz się solidnych podstaw
        programowania w krótkim czasie. Przygotowane przez specjalistów kursy kompleksowo wprowadzą Cię w Świat
        Kodu.
        Odkrywaj i rozwiązuj algorytmiczne problemy! Wykwalifikowani dydaktycy krok po kroku wytłumaczą Ci, jak
        skonstruować i napisać własny program.
        Pod koniec każdej lekcji będziesz mógł rozwiązać quiz, który pozwoli Ci usystematyzować zdobytą wiedzę.
        Wiemy, że początki bywają trudne, dlatego w każdej chwili możesz do nas napisać, a my na pewno postaramy
        się pomóc.
        Nie zwlekaj, zacznij przygodę z <span class="font-weight-bold" style="color:#000000">Pix</span><span
        class="font-weight-bold" style="color:#0d90fc">Blocks</span> już dziś!
      </div>
      <div class="col-6">
        <img alt="" class="img-max" ngbTooltip="Rozwiązywanie łamigłówek!" placement="bottom"
             src="assets/svg/undraw_solution_mindset_34bi.svg">
      </div>
    </div>

    <div class="row homepage-part">
      <div class="col-6">
        <img class="img-max" ngbTooltip="Jak wygląda programowanie?" placement="bottom"
             src="assets/svg/undraw_knowledge_g5gf.svg">
      </div>
      <div i18n class="col-6 description">
        <span class="font-weight-bold" style="color:#000000">Pix</span><span class="font-weight-bold"
                                                                             style="color:#0d90fc">Blocks</span> to
        interaktywna platforma do nauki programowania, przeznaczona
        dla najmłodszych,
        a także uczniów szkół podstawowych i średnich.
        Każdy znajdzie materiały odpowiadające jego potrzebom.
        Jesteś rodzicem i chcesz łagodnie wprowadzić swoje dziecko w świat programowania?
        Świetnie! Specjalnie przygotowane kursy pokażą, jak miło i przyjemnie można nauczyć się podstaw
        programowania.
        Niedługo idziesz do liceum, a programowanie to dla Ciebie czarna magia?
        Z nami szybko opanujesz podstawy i ani przez chwilę nie będziesz się nudził!
        Nie marzysz o pracy programisty, ale ciekawi Cię jak działa program komputerowy, jak wygląda kod i co to
        jest algorytm?
        W naszych kursach odpowiemy na te wszystkie pytania. Dołącz do <span class="font-weight-bold"
                                                                             style="color:#000000">Pix</span><span
        class="font-weight-bold" style="color:#0d90fc">Blocks</span>!
      </div>

    </div>

  </div>
</div>

<div *appHasRole="['Użytkownik']" [ngClass]="historyCoursesNumber > 0 ? 'loggedIn' : null" class="container">
  <div i18n id="title">
    <span style="color:#0d90fc">Programowanie</span> <br>
    <span style="color:#000000">dla każdego!</span>
  </div>
  <ng-template *ngIf="historyCoursesNumber > 0">
    <div class="row  alert alert-info justify-content-center" style="margin-left: 1%; width: 28%;">
      <strong>{{getLogin()}}</strong>, ostatnio oglądałeś:
    </div>

    <app-courses-history-for-user (coursesLoaded)="getHistoryCoursesNumber($event)"></app-courses-history-for-user>
  </ng-template>
</div>


<div *appHasRole="['Użytkownik']" class="container-fluid userLoggedIn">
  <div class="row alert alert-info justify-content-center" style="margin-left: 8%; margin-right: 30%">
    <strong>{{getLogin()}}</strong>, zobacz swoje kursy:
  </div>
  <div style="margin-left: 8%;">
    <app-courses-view-list-user></app-courses-view-list-user>
  </div>
</div>

<app-courses-view *appHasRole="['Administrator']"></app-courses-view>
