#title span {
  font-size: 68px;
  font-weight: 800;
  letter-spacing: -2.3px;
  color: #0d90fc;
  margin-top: 10px;
  margin-bottom: 20px;
}

.homepage-part {
  margin-top: 20px;
}

.description {
  font-size: 20px;
}

.font-weight-bold {
  font-size: 20px;
}
.container {
  background-image: url('./../../assets/svg/undraw_researching_22gp.svg');  
  background-repeat: no-repeat;
  background-position: top right;
}