<div class="container">
    <div id="title">
        Programowanie dla każdego!
    </div>
    <div class="row align-items-start blocktext blc2">
        <div class="col h-40 p-3">
            Zobacz, co nowego ostatnio dodaliśmy:
        </div>
    </div>

    <div class="row align-items-center block1 blockvideo">

        <div class="col-sm h-40 p-3">
            <div class="sizer">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Hslac_tmcNE?rel=0"></iframe>
                </div>
            </div>
        </div>
        <div class="col sm h-40 p-3">
            <span id="opis">
        Przykładowy opis filmu instruktażowego mający na celu przekazanie użytkownikowi podstawowych informacji
        dotyczących zamieszczonego materiału
      </span>
        </div>
        <div class="col-sm">
            <div class="icon">
                <div class="arrow"></div>
            </div>
        </div>
    </div>
    <div class="row align-items-end blocktext">
        <div class="col h-40 p-3">
            Poprzednio oglądałeś:
        </div>
    </div>

    <div class="row align-items-start block1">
        <div class="col h-40 p-3">
        </div>
    </div>

    <div class="browse py-5">
        <div class="container">
            <div class="row">
                <app-video-thumbnail class="col-md-4"></app-video-thumbnail>
                <app-video-thumbnail class="col-md-4"></app-video-thumbnail>
                <app-video-thumbnail class="col-md-4"></app-video-thumbnail>
            </div>
            <div class="row">
                <app-video-thumbnail class="col-md-4"></app-video-thumbnail>
                <app-video-thumbnail class="col-md-4"></app-video-thumbnail>
                <app-video-thumbnail class="col-md-4"></app-video-thumbnail>
            </div>
        </div>
    </div>
</div>