<div class="d-flex align-self-center">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <ng-template #rt let-r="result" let-t="term">

    <div *ngIf="r.courseVideos.length > 0" ngbTooltip="{{r.description}}" placement="right"
         routerLink="/courses/{{r.id}}/videos/{{r.courseVideos[0].mediaId}}">
      <ngb-highlight class="mr-2" [result]="r.title" [term]="t"></ngb-highlight>
      <span class="badge badge-info ml-2" *ngFor="let tag of r.tags">{{tag}}</span>
    </div>
  </ng-template>

  <form [formGroup]="form" class="d-inline-flex align-self-center">
    <input i18n-placeholder class="form-control empty d-inline-flex align-self-center" formControlName="searchPhrase"
           type="text"
           [inputFormatter]="formatter" [ngbTypeahead]="search" [resultTemplate]="rt"
           placeholder="&#xf02b; Szukaj kursu"/>
  </form>
</div>
