<div class="d-inline">
  <ng-template #rt let-r="result" let-t="term">
    <div placement="right" ngbTooltip="{{r.description}}" routerLink="/show_video/{{r.mediaId}}">
      <ngb-highlight class="mr-2" [result]="r.title" [term]="t">
      </ngb-highlight>
      <span class="badge badge-info ml-2" *ngFor="let tag of r.tags">{{tag}}</span>
    </div>
  </ng-template>

  <form [formGroup]="searchVideoForm">
    <input class="form-control" formControlName="searchPhrase" type="text" [ngbTypeahead]="search"
      [inputFormatter]="formatter" [resultTemplate]="rt" placeholder="Wyszukaj film" />
    <button class="btn"><i class="fas fa-search"></i></button>
  </form>
</div>