<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<div class="d-flex align-self-center">
  <ng-template #rt let-r="result" let-t="term">
    <div placement="right" ngbTooltip="{{r.description}}" routerLink="/show_video/{{r.mediaId}}">
      <ngb-highlight class="mr-2" [result]="r.title" [term]="t">
      </ngb-highlight>
      <span class="badge badge-info ml-2" *ngFor="let tag of r.tags">{{tag}}</span>
    </div>
  </ng-template>

  <form [formGroup]="searchVideoForm">
    <input class="form-control empty" formControlName="searchPhrase" type="text" [ngbTypeahead]="search"
      [inputFormatter]="formatter" [resultTemplate]="rt" placeholder="&#xF002; Szukaj filmu" />
  </form>
</div>