<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" i18n>Zmień adres email</h4>
    <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body input-group container">

    <div *ngIf="error" class="alert alert-danger col-12">
      {{error}}
    </div>
    <div *ngIf="sent && !error" class="alert alert-success col-12" i18n>
      Adres email zmieniono pomyślnie
    </div>

    <form (ngSubmit)="changeEmail()" [formGroup]="form" class="col-12">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label" i18n>Nowy adres email</label>
        <div class="col-sm-10 align-self-center input-group">
          <input [ngClass]="{'is-invalid' : submitted && f.email.errors}"
                 class="form-control" formControlName="email" i18n-placeholder placeholder="Podaj nowy email"
                 type="text">

          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required" i18n>Pole jest puste</div>
            <div *ngIf="f.email.errors.email" i18n>Niepoprawny adres e-mail</div>
          </div>
        </div>
      </div>

      <div class="modal-footer justify-content-end">
        <button (click)="changeEmail()" [disabled]="loading" class="btn btn-success" type="submit">
          <div *ngIf="!loading" i18n>Zmień</div>
          <div *ngIf="loading">
            <span class="spinner-border spinner-border-sm align-self-center" i18n></span>
            Ładowanie..
          </div>
        </button>
        <button (click)="closeModal(modal)" [disabled]="loading" class="btn btn-danger" i18n type="button">
          Zamknij
        </button>
      </div>

    </form>
  </div>
</ng-template>

<button (click)="openModal(modal)" class="btn btn-primary ml-0 mr-2" i18n>Zmień email</button>
