<div class="container">
    <div class="row">
      <h2 i18n class="display-4">Edytor lekcji</h2>
    </div>
  
  
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <button i18n class="nav-link btn" [ngClass]="isNewLessonSelected ? 'active' : ''" (click)="changeToNewLesson()">Nowa lekcja</button>
      </li>
      <li class="nav-item">
        <button i18n class="nav-link btn" [ngClass]="!isNewLessonSelected ? 'active' : ''" (click)="changeToEditLesson()">Edycja</button>
      </li>
    </ul>
  
    <app-new-lesson *ngIf="isNewLessonSelected">
    </app-new-lesson>
  
    <app-functionality-not-prepared *ngIf="!isNewLessonSelected">
    </app-functionality-not-prepared>
  
  </div>