<div class="container card">
  <div class="row col-12  card-body justify-content-center">

    <div class="col-3">
      <img alt="" class="img-fluid" src="assets/svg/undraw_profile_pic_ic5t.svg">
    </div>
    <div *ngIf="userDocument" class="col-8 offset-1 justify-content-start">

      <div class="row" i18n>
        <span><span class="paragraph" i18n>Login:</span> {{userDocument.login}}</span>
      </div>
      <div class="row" i18n>
        <span><span class="paragraph" i18n>Adres email:</span> <a
          href="mailto:{{userDocument.email}}"> {{userDocument.email}}</a></span>
      </div>
      <div class="row" i18n>
        <span><span class="paragraph" i18n>Rola systemowa:</span> {{userDocument.roleName}}</span>
      </div>
      <div *ngIf="userDocument.premium" class="row" i18n>
        <span><span class="paragraph" i18n>Premium</span></span>
      </div>

      <div class="justify-content-start">
        <app-change-email (profileChanged)="getUser()"></app-change-email>
        <app-change-password></app-change-password>
      </div>
    </div>

  </div>
</div>
