<div class="container">
  <div class="row col-12 justify-content-center">
    <div class="col-4">
      <img width="100%" height="100%" src="assets/svg/undraw_profile_pic_ic5t.svg">
    </div>
    <div *ngIf="userDocument" class="col-8">

      <div i18n class="row justify-content-center">
        <h2>Login: {{userDocument.login}}</h2>
      </div>
      <div i18n class="row justify-content-center">
        <h2>Adres email: {{userDocument.email}}</h2>
      </div>
      <div i18n class="row justify-content-center">
        <h2>Rola systemowa: {{userDocument.roleName}}</h2>
      </div>

      <div class="d-flex justify-content-center">
        <app-change-email></app-change-email>
        <app-change-password></app-change-password>
      </div>
    </div>

  </div>
</div>
