<div class="container">
  <div class="row film-row">
        <h2 class="display-4">Dodaj film</h2>
    </div>
    <p></p>
    <div class="row">
    <div class="col-6">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Tytuł</label>
      <div class="col-sm-10 input-group">
        <input type="text" class="form-control" id="title"
          formControlName="title" placeholder="Wpisz tytuł">
      </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Opis</label>
      <div class="col-sm-10 input-group">
        <textarea class="form-control" id="description"
          formControlName="description" placeholder="Wpisz opis"></textarea>
      </div>
  </div>
  <div class="form-group row justify-content-end">
      <div>
        <button type="submit" class="btn btn-success">
          <div>Dodaj film</div>
        </button>
      </div>
    </div>
</div>
  
      <div class="col-6">
        <img class="img-fluid" src="assets/svg/undraw_media_player_ylg8(1).svg">
      </div>
    </div>

</div>