.container {
    font-family: 'Oswald', sans-serif;
    margin-top: 10px;
}
.file-label {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.btn-success {
    margin-right: 15px;
}
.film-row {
    border-bottom: solid;
    margin-right: 50%;
    margin-bottom: 15px;
}