<div class="container">



  <div class="row film-row">
    <h2 i18n class="display-4">Dodaj film</h2>
  </div>
  <div class="row">
    <div class="col-6">

      <div *ngIf="sent && error" class="alert alert-danger">
        {{error}}
      </div>
      <div i18n *ngIf="sent && !error" class="alert alert-success">
        Film dodano pomyślnie
      </div>

      <form [formGroup]="newVideoForm" (ngSubmit)="createNewVideo()">

        <div class="form-group row">
          <label i18n for="title" class="col-sm-2 col-form-label">Tytuł</label>
          <div class="col-sm-10 input-group">
            <input [ngClass]="{'is-invalid' : submitted && f.title.errors}" type="text" class="form-control" id="title"
              formControlName="title" i18n-placeholder placeholder="Wpisz tytuł">

            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
              <div i18n *ngIf="f.title.errors.required">Pole jest puste</div>
            </div>

          </div>


        </div>

        <div class="form-group row">
          <label i18n for="description" class="col-sm-2 col-form-label">Opis</label>
          <div class="col-sm-10 input-group">
            <textarea [ngClass]="{'is-invalid' : submitted && f.description.errors}" class="form-control"
              id="description" formControlName="description" i18n-placeholder placeholder="Wpisz opis"></textarea>

            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
              <div i18n *ngIf="f.description.errors.required">Pole jest puste</div>
              <div i18n *ngIf="f.description.errors.minlength">Opis musi mieć minimum 3 znaki</div>
              <div i18n *ngIf="f.description.errors.maxlength">Opis może mieć maksymalnie 10000 znaków</div>
            </div>
          </div>


        </div>

        <div class="form-group row" ngbRadioGroup name="language" formControlName="language">
          <label i18n for="language" class="col-sm-2 col-form-label">Język</label>
          <div class="col-sm-10 input-group">
            <label ngbButtonLabel>
              <input i18n ngbButton type="radio" value="Polski"> Polski
            </label>
            <label ngbButtonLabel>
              <input i18n ngbButton type="radio" value="Angielski"> Angielski
            </label>
          </div>
        </div>

        <div class="form-group row">
          <div i18n class="col-sm-2">Premium</div>
          <div class="col-sm-10">
            <div class="form-check">
              <input formControlName="premium" class="form-check-input checkbox" type="checkbox" id="premium">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label i18n for="tags" class="col-sm-2 col-form-label">Kategorie</label>
          <div class="col-sm-10">
            <ng-multiselect-dropdown formControlName="tags" [placeholder]="'Wybierz kategorie'" [data]="tagsList"
              [settings]="tagsSettings">
            </ng-multiselect-dropdown>
          </div>
        </div>

        <div class="form-group row">
          <label i18n for="picture" class="col-sm-2 col-form-label">Obrazek</label>
          <div class="col-sm-10">
            <input formControlName="pictureUrl" type="text" class="form-control" id="picture" i18n-placeholder
              placeholder="Podaj adres obrazka">
          </div>
        </div>

        <div class="form-group row">
          <label i18n for="image" class="col-sm-2 col-form-label">Film</label>
          <div class="col-sm-10">
            <label class="file-label" (click)="imitateFileInput()">{{fileUploadMessage}}</label>
            <input (change)="handleFileInput($event.target.files)" type="file" class="form-control" id="video" hidden>
          </div>
        </div>

        <ng-template #rt let-r="result" let-t="term">
          <ngb-highlight class="mr-2" [result]="r.title" [term]="t"></ngb-highlight>
          <span class="badge badge-info ml-2" *ngFor="let tag of r.tags">{{tag}}</span>
        </ng-template>


        <div class="form-group row">
          <label i18n for="parentId" class="col-sm-2 col-form-label">Lekcja</label>
          <div class="col-sm-10 input-group">

            <input formControlName="parentId" [ngClass]="{'is-invalid' : submitted && f.parentId.errors}" type="text"
              class="form-control" [ngbTypeahead]="searchLesson" [inputFormatter]="formatter" [resultTemplate]="rt" i18n-placeholder
              placeholder="Wyszukaj lekcję" />

            <div *ngIf="submitted && f.parentId.errors" class="invalid-feedback">
              <div i18n *ngIf="f.parentId.errors.required">Pole jest puste</div>
            </div>
          </div>
        </div>


        <div class="form-group row justify-content-end">
          <div>
            <button type="submit" [disabled]="loading" class="btn btn-success">
              <div i18n *ngIf="!loading">Dodaj film</div>
              <div *ngIf="loading">
                <span i18n class="spinner-border spinner-border-sm align-self-center"></span>
                Ładowanie..</div>
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-6">
      <img class="img-fluid" src="assets/svg/undraw_media_player_ylg8.svg">
    </div>
  </div>

</div>