
<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-dark bg-info clearfix  ">
        <div class="collapse navbar-collapse">
        <a class="navbar-brand" href="#">I nie zmienia się nic</a>
        <a class="navbar-brand" href="#">Dalej trzeba żyć</a>
        <a class="navbar-toggler-item" type="button">Tutaj</a>
    </div>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search2</button>
            
        </form>
       
    </nav>
            
<!-- To część zasadnicza, body, welcome everybody -->          
<div class="container" >
    <div class="row align-items-start" id="block1">
      
      <div class="col h-40 p-3" >
            Postulaty sprawdzania, kto z osób publicznych mógł być agentem UB i SB, wysuwały od przełomu 1989 r. różne, głównie prawicowe partie i środowiska. Środowiska liberalne były temu przeciwne - przestrzegano przed "polowaniem na czarownice"; powoływano się też na zniszczenia archiwów służb z lat 1989-1990. Z kolei SLD sugerowało, że najwięcej agentów znajdzie się wśród opozycjonistów z lat PRL.
      </div>
      
    </div>
    <div class="row align-items-center" id="block1">
      
      <div class="col h-40 p-3" >
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
      </div>
      
    </div>
    <div class="row align-items-end" id="block1">    
      <div class="col h-40 p-3">
        8 of three columns
      </div>    
    </div>
    <div class="row align-items-start" id="block1">
      
            <div class="col h-40 p-3" >
                  
            </div>
            
          </div>
    <div class="row align-items-start" id="block1">
      
                <div class="col h-40 p-3" >
                      Postulaty sprawdzania, kto z osób publicznych mógł być agentem UB i SB, wysuwały od przełomu 1989 r. różne, głównie prawicowe partie i środowiska. Środowiska liberalne były temu przeciwne - przestrzegano przed "polowaniem na czarownice"; powoływano się też na zniszczenia archiwów służb z lat 1989-1990. Z kolei SLD sugerowało, że najwięcej agentów znajdzie się wśród opozycjonistów z lat PRL.
                </div>
                
              </div>
  </div>