.card {
  width: 300px;
  height: 350px;
}

.card-box {
  display: inline-block;
  overflow: hidden;
  height: auto;
  width: auto;
}

.box-shadow {
  border-style: solid;
  transition: 0.3s;
}

.box-shadow:hover {
  box-shadow: 1.0rem 1.0rem 1.0rem rgba(0, 0, 0, 0.356);
}

.card-img-top {
  width: 100%;
  height: 100%;
  display: block;
  transition: transform .4s, opacity .4s;
  opacity: 0.85
}

.card:hover .card-img-top {
  transform: scale(1.3);
  transform-origin: 50% 50%;
  opacity: 1;
}

.card-text {
  padding: 2% 3%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: justify;
}

.container {
  margin-top: 10px;
}

.languages {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.languagesButton {
  margin: 5px;
}

.file-label {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}


