/* You can add global styles to this file, and also import other style files */

* {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    
/*color:
#565656;*/
font-weight: 400;
line-height: 1.66em;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

