/* You can add global styles to this file, and also import other style files */

* {
    font-size: 16px;
    font-family: "Montserrat", Sans-serif;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.btn-outline-primary {
    margin: 0;
    padding: 10px;
    border: 0;
    line-height: 1.66em;
    vertical-align: baseline;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
    border-style: solid;
}
.btn:hover {
    background-color: #0d90fc;
    color: white;
}
